@page "/login"
@*@layout UnauthorizedLayaout*@








<div class="container">
    <div class="col-md-6 offset-md-3">

        <div class="card">
            <div class="card-header">
                <h4>Artesanias Marielos</h4>
            </div>

            <div>
                <div class="card-body">
                    @*<EditForm>*@
                    <h4 class="card-title text-center">Iniciar Sesión</h4>
                    <div class="col-md-12 mb-3">
                        <label>Usuario</label>
                        <input type="text" placeholder="Escriba su nombre de usuario" class="form-control" />
                    </div>


                    <div class="col-md-12 mb-3">
                        <label>Contraseña</label>
                        <input type="password" placeholder="Escriba la contraseña" class="form-control" />
                    </div>

                    <div class="col-md-12 mb-3">
                        <button class="btn btn-primary btn-block">Iniciar</button>

                    </div>
                    @*</EditForm>*@

                    <div class="col-md-12 mb-3">
                        <hr />
                    </div>


                    <div class="col-md-12 mb-3">
                        <h5>¿Olvidaste tu contraseña?</h5>
                    </div>

                    <div class="col-md-12 mb-3">
                        <h5>¿Aún no tienes cuenta?</h5>
                    </div>


                    <div class="col-md-12 mb-3">
                        <a href="RegistrarUsuario"
                           class="btn btn-success btn-block">Registrarte Ahora</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


@code {


}
